# General requirements
six                     # Python 2 and 3 normalization layer
django                  # Django web framework
python-mimeparse        # For parsing accept and content-type headers
python-dateutil         # For parsing standard ISO dates

# Optional requirements
parsedatetime           # Fuzzy date parsing
PyYAML                  # YAML encoding and decoding
lxml                    # XML encoding and decoding
python-magic            # For auto-detecting content-type and sending
                        #   files directly with the correct mime type
python-digest           # For processing DIGEST authentication

# Testing requirements
django-extensions
django-nose
xtraceback
coverage
yanc
django-armet
